@import "tailwindcss";

@theme {
  --*: initial;

  /* =========================
  Color
  ========================= */

  /* UI */
  --color-ui_hover: #835E2B;
  --color-ui_primary: #9B6D2E;
  --color-ui_secondary: #B28600;
  --color-ui_yertiary: #CCAB29;

  /* Text */
  --color-text_body: #212121;
  --color-text_description: #616161;
  --color-text_disable: #BDBDBD;

  /* Border */
  --color-border_primary: #E0E0E0;

  /* accent */
  --color-accent: #E2211E;

  /* background */
  --color-background_primary: #ffffff;
  --color-background_secondary: #f5f5f5;
  --color-background_tertiary: #f8f8f8;
  --color-background_light-quaternary: #f8f5e9;

  /* Button */
  --color-button_primary: #ffeb36;
  --color-button_primary-hover: #ffb50f;
  --color-button_primary-text: #122939;

  --color-button_submit: #e5592e;
  --color-button_submit-hover: #cc471f;
  --color-button_submit-text: #ffffff;

  /* Status */
  --color-status_neutral: #a5a5a5;
  --color-status_disabled: #cacaca;
  --color-status_active-primary: #122939;
  --color-status_active-secondary: #ffb50f;
  --color-status_toggle-active: #122939;

  --color-status_progress-primary: #ffb50f;
  --color-status_progress-secondary: #a8ceff;
  --color-status_progress-tertiary: #f06095;

  --color-status_alert: #db1f1f;
  --color-status_on-alert: #ffffff;

  --color-status_low: #4797ff;
  --color-status_standard: #29cc9b;
  --color-status_high: #fc7e00;
  --color-status_higher: #ff6b6b;
  --color-status_highest: #f53636;

  --color-status_premium: #bdaa00;
  --color-status_white: #ffffff;

  /* =========================
  Dimension
  ========================= */

  /* rounded */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-full: 9999px;

  /* spacing */
  --spacing-3xs: 2px;
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 40px;
  --spacing-3xl: 48px;
  --spacing-4xl: 64px;
  --spacing-5xl: 80px;
  --spacing-6xl: 96px;

  /* breakpoint */
  --breakpoint-pc: 768px;

  /* =========================
  Typography
  ========================= */

  /* font-family */
  --font-japanese: "Noto Sans JP", sans-serif;
  --font-english: "Barlow", sans-serif;

  /* font-weight */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* font-size */
  --text-xxs: 10px;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-xxl: 24px;
  --text-3xl: 28px;
  --text-4xl: 32px;
  --text-5xl: 48px;
  --text-6xl: 56px;
  --text-7xl: 64px;

  /* line-height */
  --leading-md: 160%;
  --leading-sm: 140%;
  --leading-xs: 120%;
}
